/* .bgPerfil {
  background-image: url("https://ik.imagekit.io/eou8tor4u/astronaut-1784245.jpg?updatedAt=1684515136662");
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
} */

.cardPerfil {
  border-radius: 30px;
  display: flex !important;
  background: linear-gradient(93deg, #c5aef090 8%, #d8cddb90 89%);
  padding: 2rem;
  width: max(90vw, 500px);
}

.perfilPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.outlinedButtonPerfil {
  border-color: #c0a5df !important;
  color: #fcfcfc !important;
}

.outlinedButtonPerfil:hover {
  background-color: #5d4775 !important;
  color: #fdfcfd !important;
}

.perfilContainer {
  width: 80vw !important;
  margin-inline: auto !important;
  margin-block: 1.5rem !important;
}
