.titulo {
  color: black;
  font-weight: "bold";
}
.outlinedButton {
  border-color: white !important;
  background-color: black !important;
  color: #fcfcfc !important;
}

.outlinedButton:hover {
  background-color: #333232 !important;
  color: #f4f5f8 !important;
}

.caixa {
  background-color: white;
}

.postagens {
  background-color: black;
}
