* {
  margin: 0;
}

* body {
  background-image: url("https://ik.imagekit.io/eou8tor4u/268e0b01144607b38cec0309896893c7.png?updatedAt=1684971098258");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-color: black !important;
}
