* {
  margin: 0;
}

* body {
  background-image: url("https://ik.imagekit.io/eou8tor4u/1289678.jpg?updatedAt=1685038614320");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-color: black !important;
}
